.footer-block {
    background-color: #e8e8e8;
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 100%;
    height: 50px;
    font-family: Ubuntu;
    font-size: 14px;
    padding: 20px;
	cursor: default;
}