.header-block{
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 1200px;
	background-color: #f5f5f5;
	padding: 10px;
}
.header-logo{
    height: 60px;
    cursor: pointer;
    transition: transform .2s cubic-bezier(0.68, -3.67, 0.37, 3.98)
}

.header-logo:hover {
    transform: scale(1.1);
}

.header-navigation{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.header-button{
	font-size: 15px;
	margin: 15px;
	font-family: Ubuntu;
	color: #2f2f2f;
	text-decoration: none;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.header-start{
	margin: 15px;
	font-family: Ubuntu;
	text-decoration: none;
    cursor: pointer;
	font-size: 16px;
	margin-top: 9px;
	text-align: center;
	min-width: 200px;
	height: 30px;
	padding-top: 6px;
	color: white;
	background: linear-gradient(180deg, #4AC29A 0%, #109C6A 100%);
	box-shadow: 0px 8px 16px rgba(16, 156, 106, 0.4);
	border-radius: 50px;
    transition: transform .2s cubic-bezier(0.68, -3.67, 0.37, 3.98);
}

details{
	display: none;
}

.header-start:hover{
	transform: scale(1.1);
	background: linear-gradient(180deg, #F7D06D 0%, #DDAC00 100%);
	box-shadow: 0px 8px 16px rgba(156, 100, 16, 0.4);
}

.header-button:hover{
	opacity: 70%;
}

@media(max-width:700px) {
	.header-button{
		display: none;
	}

	details{
		display: flex;
	}
}

@media(max-width: 450px){
	.header-start{
		min-width: 120px;
	}
}

@media(max-width: 375px){
	.header-logo {
		height: 40px;
	    width: 112px;
	    margin-top: 10px;
	}
}