.content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
}
.item-block {
	display: flex;
	justify-content: center;
	margin: auto;
    padding: 20px;
    font-family: Ubuntu;
    max-width: 400px;
    cursor: default;
}

.item-img_block{
	display: flex;
	max-height: 160px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
}

.item-text {
	font-size: 25px;
    text-align: center;
    font-family: Ubuntu;
    cursor: default;
}

.item{
    min-height: 334px;
    padding: 25px;
    background-color: white;
}

.item-form{
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 300px;
	justify-content: center;
	margin: auto;
}

.buy-text {
    padding-top: 20px;
	padding-bottom: 15px;
	font-size: 20px;
}

.item-img{
	margin: auto;
    margin-right: 10px;
	height: 128px;
	width: 128px;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 15px;
}

.item-data{
	margin: auto;
    margin-left: 10px;
    min-width: 200px;
}

.amount-text, .price-text {
	font-family: Ubuntu;
	font-size: 17px;
	color: #2f2f2f;
	text-align: center;
	cursor: default;
}

.amount-text{
	margin-bottom: 15px;
}

.field_lable_black {
	font-family: Ubuntu;
    line-height: 30px;
    font-size: 16px;
    color: #2f2f2f;
    cursor: default;
}

.item-field{
    font-family: Ubuntu;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    height: 27px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    outline: 0;
}

.item-field:hover {
    color: #2f2f2f;
    background: #f7f2ed
}

.item-button {
    height: 27px;
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.buy-errors {
    color: red;
    margin: 10px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
}

.item-button:hover
{
    opacity: 70%;
}

@media(max-width:450px) {
    .item-block {
        flex-direction: column;
    }

    .item-data {
        margin: auto;
        margin-top: 5px;
    }

    .item-img {
        margin: auto;
        margin-bottom: 5px;
    }
}


@media(max-width:800px) {
    .main{
        flex-direction: column;
    }

    .sidebar{
        margin-top: 20px;
    }
}