.content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
}
.item_form-block {
	display: flex;
	justify-content: center;
    padding: 20px;
    font-family: Ubuntu;
    cursor: default;
}

.item_form-img_block{
	display: flex;
	max-height: 160px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
}

.item_form-text {
    padding-top: 20px;
    text-align: center;
    font-family: Ubuntu;
    cursor: default;
}

.item_form{
    min-height: 334px;
    background-color: white;
}

.item_form-data{
	padding-left: 10px;
	padding-right: 10px;
}

.item_form-img{
	margin-bottom: 5px;
	height: 128px;
	width: 128px;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 15px;
	cursor: pointer;
}

.item_form-img_text{
	margin-top: 5px;
	text-align: center;
}

.item_form-img:hover{
	transform: scale(1.1);
}

span.field_lable_black,
span.field_lable_red {
    display: inline-block;
    vertical-align: top;
    line-height: 37px;
    font-size: 16px
}

span.field_lable_black {
    color: #2f2f2f
}

span.field_lable_red {
    color: #f95c17
}

.item_form-field{
    font-family: Ubuntu;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    height: 27px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    outline: 0;
}

.item_form-field:hover {
    color: #2f2f2f;
    background: #f7f2ed;
}

.item_form-button {
    height: 27px;
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.add-errors {
    color: red;
    margin: 10px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
}

.item_form-button:hover
{
    opacity: 70%;
}

@media(max-width:450px) {
    .item_form-block {
        flex-direction: column;
    }
}

@media(max-width:800px) {
    .main{
        flex-direction: column;
    }

    .sidebar{
        margin-top: 20px;
    }
}