.content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
}

.profile {
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    min-height: 334px;
    font-family: Ubuntu;
    cursor: default;
}

.lc-blocks{
    text-align: center;
    justify-content: space-between;
    max-width: 450px;
    margin: auto;
    display: flex;
}

.lc-blocks a{
    font-family: Ubuntu;
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
    color: #2f2f2f;
    transition: opacity .2s ease-in;
}

.lc-blocks a:hover{
    opacity: 70%;
}

.block{

}

.profile_text{
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.profile-block{
    display: flex;
}

.profile-block-avatare {
    width: 128px;
    height: 128px;
    border-radius: 128px;
    margin: 10px;
}

.profile-block-data {
    font-family: Ubuntu;
    font-size: 14px;
    margin: 15px;
}

.button-verify {
    height: 27px;
    width: 120px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.cp-block {
    display: flex;
    flex-direction: column;
}

.change-password{
    max-width: 400px;
    margin: auto;
}

span.field_lable_black,
span.field_lable_red {
    display: inline-block;
    vertical-align: top;
    line-height: 37px;
    font-size: 16px
}

span.field_lable_black {
    color: #2f2f2f
}

span.field_lable_red {
    color: #f95c17
}

.cp-field{
    font-family: Ubuntu;
    font-size: 15px;
    height: 27px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    outline: 0;
}

.cp-field:hover {
    color: #2f2f2f;
    background: #f7f2ed;
}

.button-confirm {
    height: 27px;
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 15px;
    margin-top: 25px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.error {
    color: red;
    margin: 10px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
}

.button-destroy {
    height: 27px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 15px;
    margin-top: 25px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.button-change {
    height: 27px;
    width: 100%;
    max-width: 300px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.button-select{
    margin: auto;
    margin-top: 15px;
}

.block-skin {
    font-family: Ubuntu;
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: white;
}

.block-skin_buttons{
    display: flex;
}

.block-skins{
    display: flex;
    margin: auto;
}

.skin {
    margin: 10px;
}

.set_black {
    background-color: black;
    margin: 5px;
    width: 24px;
    height: 24px;
    outline: 3px solid purple;
    cursor: pointer;
}

.set_white {
    background-color: white;
    margin: 5px;
    width: 24px;
    height: 24px;
    outline: 3px solid purple;
    cursor: pointer;
}

.block-skin_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.cart_text{
    max-width: 500px;
}

.block-cart{
    width: 100%;
    line-height: 30px;
    text-align: center;
}

table {
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

.cart_item-td{
    border-bottom: 1px dashed #f1f1f1;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.cart_item-tr{
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

.cart_hr{
    display: none;
    height: 5px;
    border-radius: 15px;
    background-color: #2f2f2f;
}

tr {
    margin-top: 5px;
    margin-bottom: 5px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cart_img {
    height: 48px;
    width: 48px;
    margin-right: 5px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.set_black:hover, .set_white:hover {
    transform: scale(1.1);
}

.button-verify:hover, .button-change:hover, .button-confirm:hover, .button-destroy:hover
{
    opacity: 70%;
}

@media(max-width:800px) {
    .main{
        flex-direction: column;
    }

    .sidebar{
        margin-top: 20px;
    }
}

@media(max-width:550px){
    tr{
        display: flex;
        flex-direction: column;
    }

    .cart_hr{
        display: block;
    }
}

@media(max-width:450px) {
    .profile-block-avatare {
        margin-top: 32px;
        width: 64px;
        height: 64px;
    }

    .lc-blocks {
        flex-direction: column;
    }

    .block-skins{
        flex-direction: column;
    }
}