.main-promo_block{
	background-size: 100vw 90px;
	max-width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-right: 15px;
    padding-top: 5px;
    margin-top: -90px;
}

.main-promo_background{
    width: 100%;
    height: 90px;
}

.main-promo_text{
    height: 80px;
	line-height: 20px;
    min-width: 200px;
	padding: 20px;
    font-family: Ubuntu;
	color: white;
	font-size: 15px;
	cursor: default;
}

.main-promo_banner {
    margin-top: -14px;
    height: 117px;
    cursor: pointer;
    transition: transform .2s cubic-bezier(0.68, -3.67, 0.37, 3.98)
}

.main-promo_banner:hover {
    transform: scale(1.1);
}

.main{
    display: flex;
    margin: auto;
    min-height: 100vh;
    background-color: #f5f5f5;
    justify-content: center;
    padding-bottom: 45px;
}

.Sidebar{
    margin-top: 45px;
    margin-left: -6px;
    padding: 10px;
}

.login-errors{
    margin-top: 10px;
	text-align: center;
	font-family: Ubuntu;
	font-size: 14px;
	color: red;
}

.login-block {
    background-color: white;
    padding: 20px;
    margin-top: -10px;
}

.login-block-items {
    margin: auto;
    max-width: 300px;
}

.login-block_text{
    font-family: Ubuntu;
    font-size: 14px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: default;
}

.lc-block {
    background-color: white;
    padding: 20px;
    margin-top: -10px;

}

.lc-block-avatare {
    width: 64px;
    height: 64px;
   	border-radius: 64px;
}

.lc-block-data {
	display: flex;
	margin: 15px;
    font-family: Ubuntu;
	cursor: default;
}

.lc-block-data_text{
	margin: 5px;
	margin-left: 15px;
}

.lc-block-data_nick{
	font-size: 18px;
}

.lc-block-data_mail{
	font-size: 13px;
	opacity: 60%;
}

.buttons-sidebar {
    height: 27px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 15px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.vk_groups{
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 787px;
}

.server-block {
    background-color: white;
    margin-top: 20px;
    padding: 25px;
    height: 100px;
    cursor: default;
}

.login-block-text {
    font-family: Ubuntu;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    cursor: default;
}

.servers-dayz {
    font-family: Ubuntu;
    font-size: 15px;
    margin: 5px;
    color: #2f2f2f;
    filter: grayscale(1);
}

.server-dayz {
    margin-top: 10px;
    border-radius: 50px;
    filter: grayscale(1);
    cursor: default;
}

.login-block-lp {
    font-family: Ubuntu;
    font-size: 15px;
    height: 25px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    outline: 0;
}

.login-block-lp:hover {
    color: #2f2f2f;
    background: #f7f2ed
}

.login-block-subbuttons{
    margin: auto;
    display: flex;
    height: 27px;
    justify-content: space-between;
}

.login-subbuttons {
    font-family: Ubuntu;
    font-size: 14px;
    cursor: pointer;
    height: 27px;
    margin: 5px;
    line-height: 27px;
    text-align: center;
    color: #2f2f2f;
    transition: opacity .2s ease-in;
}

.login-subbuttons:hover, .buttons-sidebar:hover
{
    opacity: 70%;
}

@media(max-width:800px) {
	.main{
		flex-direction: column-reverse;
	}

	.sidebar{
		margin: auto;
		margin-top: 45px;
	}

	.vk_groups{
		margin-top: 9px;
	}
}

@media(max-width: 519px){
	.main-promo_text{
		padding-top: 0px;
	}
}

@media(max-width: 450px){
    .main-promo_banner {
        margin-top: 10px;
        height: 88px;
    }
}

@media(max-width: 350px){
    .main-promo_banner {
        margin-top: 23px;
        height: 73px;
    }
}

@media(min-width: 801px) and (max-width: 1086px){
    .login-errors{
        margin-top: 35px;
    }
}

@media(max-width: 305px){
    .login-errors{
        margin-top: 35px;
    }
}