.registration-block {
    max-width: 787px;
    justify-content: center;
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Ubuntu;
    cursor: default;
}

.register-block{
    background-color: white;
}

.registration-block-text {
    margin: 0 0 25px 0;
    padding: 34px 34px 0 34px;
}

.registration-block-text h1 {
    font-size: 32px;
    color: #1e1b1a;
}

.registration-block-text h3 {
    font-size: 19px;
    color: #B90504;
    margin: 7px 0 22px 0
}

.registration-block-text span {
    color: #1e1b1a;
    font-size: 15px;
    line-height: 19px;
}

.registration-block-text a {
    color: #9f7984;
    font-size: 15px;
}

.registration-block-text a:hover {
    text-decoration: none
}

.attention {
    padding: 30px 34px;
    background: #fff6ed;
    color: #c78282;
    line-height: 18px;
}

.attention h3 {
    font-size: 20px;
    margin: 0 0 25px 0
}

.registration-block-fields_lable {
    height: 23px;
    display: inline-block;
    vertical-align: top;
}

span.field_lable_black,
span.field_lable_red {
    display: inline-block;
    vertical-align: top;
    line-height: 37px;
    font-size: 16px
}

span.field_lable_black {
    color: #2f2f2f
}

span.field_lable_red {
    color: #f95c17
}

.registration-block-fields {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
}

.registration-block-field {
    max-width: 400px;
    min-height: 37px;
    vertical-align: top;
    margin-top: 6px;
}

.registration-block-field input {
    height: 25px;
    background-color: #fefcfa;
    border: solid 1px #e4dfd9;
    padding: 0 15px;
    text-align: left;
    color: #2f2f2f;
    font-family: Ubuntu;
    font-size: 16px;
}

.registration-block-field input:hover,
.registration-block-field input:focus {
    color: #2f2f2f;
    background: #f7f2ed;
}

.registration-block-fields_item{
    display: flex;
    flex-direction: column;
}

input.registration_field {
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    outline: 0;
}

.register-button:hover {
    opacity: 70%;
}

.CheckResult{
    text-align: center;
    line-height: 25px;
    font-family: Ubuntu;
    font-size: 14px;
    max-width: 400px;
    margin-top: 5px;
}

.register-button {
    background-color: #2f2f2f;
    border-radius: 50px;
    height: 27px;
    margin-top:15px;
    margin-bottom: 15px;
    line-height: 27px;
    text-align: center;
    font-family: Ubuntu;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.registrations-errors{
    font-family: Ubuntu;
    font-size: 14px;
    max-width: 440px;
    color: red;
    text-align: center;
}

@media(max-width:800px) {
    .registration-block{
        margin-top: 9px;
    }
}