@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu-Regular.ttf);

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-color: #f5f5f5;;
}
