.restore-block{
    max-width: 787px;
    justify-content: center;
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Ubuntu;
    cursor: default;
}

.restore {
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Ubuntu;
    cursor: default;
}

.restore_confirm {
    min-height: 411px;
}

.restore-data{
    display: flex;
}

.restore_confirm-data{
	max-width: 300px;
	margin: auto;
	margin-top: -25px;
}

.restore-title{
    font-family: Ubuntu;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    cursor: default;
}

.restore-attention{
	max-width: 400px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.restore-field{
    font-family: Ubuntu;
    font-size: 15px;
    height: 27px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    outline: 0;
}

.restore-field:hover {
    color: #2f2f2f;
    background: #f7f2ed
}

.restore-button {
    height: 27px;
    min-width: 125px;
    margin-left: 10px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.restore_confirm-button {
    height: 27px;
    width: 100%;
    margin-top: 15px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.restore-button:hover{
	opacity: 70%;
}

span.field_lable_black,
span.field_lable_red {
    display: inline-block;
    vertical-align: top;
    line-height: 37px;
    font-size: 16px
}

span.field_lable_black {
    color: #2f2f2f;
    margin-left: 5px;
}

span.field_lable_red {
    color: #f95c17;
}

.restore-errors{
	font-family: Ubuntu;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: red;
}

@media(max-width:800px) {

    .main{
        flex-direction: column;
    }

    .sidebar{
        margin-top: 20px;
    }
}

@media(max-width: 400px) {
    .restore-data{
        flex-direction: column;
    }

    .restore-button {
        margin-left: 0px;
        margin-top: 10px;
    }
}