.shop{
	margin-left: 15px;
	margin-right: 15px;
    margin-top: 45px;
	padding: 30px;
    background-color: white;
    max-width: 780px;
}

.shop-text{
    display: flex;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
    font-family: Ubuntu;
    cursor: default;
}

.shop-block{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.items{
    display: flex;
    justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.item, .item-add{
	margin: 12px;
	padding: 10px;
	cursor: pointer;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 15px;
    transition: transform .1s ease-in;
}

.item-text{
    padding-bottom: 15px;
    text-align: center;
    font-family: Ubuntu;
}

.item-price{
    padding-top: 15px;
    text-align: center;
    font-family: Ubuntu;
}

.item-amount{
    padding-top: 10px;
    font-style: italic;
    color: #3f3f3f;
    text-align: center;
    font-family: Ubuntu;
}

.item-img{
	height: 128px;
	width: 128px;
}

.item:hover, .item-add:hover
{
    transform: scale(1.1);
}

.category-text{
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
}


.shop-category{
    margin: auto;
    margin-right: 5px;
    font-family: Ubuntu;
    font-size: 15px;
    height: 27px;
    width: 225px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #2f2f2f;
    cursor: pointer;
    outline: 0;
}

.shop-button {
    height: 27px;
    margin: auto;
    margin-left: 5px;
    width: 225px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: opacity .2s ease-in;
}

.shop-button:hover
{
    opacity: 70%;
}

@media(max-width:550px) {
    .shop-block {
        flex-direction: column;
    }

    .shop-button {
        margin: auto;
        margin-top: 5px;
    }

    .shop-category {
        margin: auto;
        margin-bottom: 5px;
    }
}

@media(max-width:800px) {
    .main{
        flex-direction: column;
    }

    .sidebar{
        margin-top: 20px;
    }
}