.start {
    max-width: 787px;
    justify-content: center;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Ubuntu;
    cursor: default;
}

.vk-widget {
    max-width: 325px;
    margin: auto;
}

.start-button {
    height: 27px;
    max-width: 170px;
    background-color: #2f2f2f;
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    font-family: Ubuntu;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
    margin-top: 25px;
    transition: opacity .2s ease-in;
}

.start-button:hover
{
    opacity: 70%;
}

.start-block_first{
    min-height: 292px;
}

.start-block {
    justify-content: space-around;
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    font-family: Ubuntu;
    font-size: 14px;
    cursor: default;
}

.start-block-title{
    font-family: Ubuntu;
    font-size: 17px;
    line-height: 35px;
    cursor: default;
}

@media(max-width:800px) {
    .start{
        margin-top: -9px;
    }
}